nav {
	background-color: transparent !important;
	box-shadow: none;
}
#hero #title {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width:70%;
	min-width: 300px;
}
#title h1 {
	font-size: 64px;
}
#title h4 {
	font-size: 32px;
	font-weight: 300;
}
#container {
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
#background {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
	z-index: -1;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url("/img/background/2.png");
	background-size: cover;
	background-repeat: no-repeat;
}
