---
title: Access Denied
description: >
  You can't access this page. Like ever.
changefreq: yearly
priority: 0.1
flowtext: true
nojs: true
---
{{> header css="/css/error.css" }}

<div id="container">
	<div class="row">
		<div class="col s12 center-align">
			<a href="/">
				<img id="logo" class="responsive-img" src="/img/logos/logo.png" alt="internet-class.org">
			</a>
			<h1>Naughty Naughty: You Can't Access This Page</h1>
			<p>Even the internet has rules. But don't worry&mdash;we won't
			tell.</p>
		</div>
	</div>
</div>

{{> footer }}

<!--
  vim: ts=2:sw=2:et:ft=html
-->
