---
title: Learn the Internet on the Internet
description: >
  Learn about the internet online through short, fun videos.
priority: 1.0
override_js: /js/index.js
extra_css:
  - /css/index.css
---
{{> header }}

<nav>
	<div class="nav-wrapper container">
		<a href="/" class="brand-logo">
      <img id="logo" src="/img/logos/logo.png" alt="internet-class.org">
    </a>
		<ul class="right">
      <li id="unmute_button" class="video-controls">
        <a id="unmute" class="btn-floating waves-effect waves-light btn">
          <i class="material-icons">volume_up</i>
        </a>
      </li>
      <li id="mute_button" class="video-controls hidden">
        <a id="mute" class="btn-floating waves-effect waves-light btn">
          <i class="material-icons">volume_off</i>
        </a>
      </li>
      <li id="pause_button" class="video-controls hidden">
        <a id="pause" class="btn-floating waves-effect waves-light btn">
          <i class="material-icons">pause_circle_outline</i>
        </a>
      </li>
      <li id="play_button" class="video-controls">
        <a id="play" class="btn-floating waves-effect waves-light btn">
          <i class="material-icons">play_circle_filled</i>
        </a>
      </li>
		</ul>
	</div>
</nav>
<main>
<div id="fullscreen">
  <div id="bottom">
    <div id="button" class="center-align">
      <a href="#" class="btn btn-large">Get Started</a>
    </div>
    <div id="title">
      <div id="title_box">
        <h1 class="font-scale" data-font="64" data-font-min="24">
          <strong>Learn about the internet</strong><br>on the internet.
        </h1>
        <h4 class="font-scale" data-font="40" data-font-min="14">(Makes sense, right?)</h4>
      </div>
    </div>
  </div>
  <video playsinline muted loop autoplay poster="/img/background/1.png" id="background">
    <source src="/img/background/large.webm" type="video/webm" media="screen and (min-width:800px)">
    <source src="/img/background/large.mp4" type="video/mp4" media="screen and (min-width:800px)">
    <source src="/img/background/small.webm" type="video/webm" media="screen and (max-width:799px)">
    <source src="/img/background/small.mp4" type="video/mp4" media="screen and (max-width:799px)">
  </video>
</div>

<!--[if lt IE 9]>
<script>
  document.createElement('video');
</script>
<![endif]-->

<!--
  vim: ts=2:sw=2:et:ft=html
-->
